{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb" style="border-radius: 0;">
          <li class="breadcrumb-item">VibitPug</li>
          <li class="breadcrumb-item">1</li>
        </ol>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom: 24px;">
  <div class="row" style="margin-left: 0; margin-right: 0;">
    <div class="col-md-12" style="background-color: #638596;">
      <img src="1.png" class="mx-auto d-block" style="margin-top: 90px;">
    </div> 
  </div>
</div>

<div class="container detail">
  <div class="row">
    <div class="col-md-10" style="margin-top: 20px;">
      <h1 style="margin-top: 0px; margin-bottom: 5px;">VibitPug {{ pug.serial_no }}</h1>
      <h4>One of <b>{{ pug.group_count }}</b> pugs</h4>
    </div>
  </div>

  <div class="row detail-row">
    <div class="col-md-10">
      <h3 style="margin-bottom: 5px;">Attributes</h3>
      <p>This pug has <a href="#">{{ pug.attr_count }} attributes</a>, one of {{ pug.attr_group_count }} with that many.</p>
      <div class="row">
      {% for attr in pug.attributes %}
        <div class="col-md-4">
          <a href="#">{{ attr.name }}</a>
          <br>
          <b>{{ attr.group_count }}</b>
            pugs have this.
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}